body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

/* https://bl.ocks.org/mehak-sachdeva/22dbd463d5358e4356e85fdb5223a242 */
.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;}